{% extends 'index.html.twig' %}

{% block cuisine_input %}
<ul>
    {% for cuisine in cuisines %}
        <li><a href="/cuisine/{{cuisine.getId}}">{{cuisine.getCuisine}}</a></li>
    {% endfor %}
</ul>
{% endblock %}
