<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {% if random == null %}
        <p>
            no stuff
        </p>
        {% else %}

        <p>
            {{random.getRestaurantName}}
        </p>
        {% endif %}
    </body>
</html>
