<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
        <title></title>
    </head>
    <body>
    <div class="container body">
            <img src="img/rolling_dice.gif" alt="rolling dice"/>
            <h1>Roll the dice restaurant picker</h1>
            <h3>Let the dice decide your lunch fate</h3>
        <div class="choice1">
            Take a risk and let the dice decide the type of cuisie and the restaurant for you
        </div>
        <div class="choice2">
            Create custom values for your dice roll
        </div>
    <div class="container footer">

    </div>
    </body>
</html>
