.body{
position: fixed;
top: -50%;
left: -50%;
width: 200%;
height: 200%;
}

.body img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}
.choice1{
    position: sticky;
    float: left;
    padding: 10%;
    height: 500px;
    width: 50%;
    color: white;
    font-size: 25px;
    font-family: sans-serif;


}
.choice2{
    position: sticky;
    float: left;
    padding: 10%;
    height: 500px;
    width: 50%;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}

.main {
    position: sticky;
    border: 3px outset darkgrey;
    width: 80%;
    height: 100%;
    margin-top: 50px;
    background: rgba(75, 75, 75, 0.65);
}
h1{
    text-align: center;
    color: white;
}
button{
    background-color: green;
    color: white;
    font-size: 20px;
}
.col-lg-6 {
    width: auto;
}
.cuisine_type{
    background-color:ghostwhite;
}
form{

}
